/* Estilos de scrollbar */

::-webkit-scrollbar { width: 0.5rem;}
::-webkit-scrollbar-track { background-color: #f7e8d3;}
::-webkit-scrollbar-thumb { background-color: #137DC5; border-radius: 1rem; }
::-webkit-scrollbar-thumb:hover { background-color: #0d5483;}

/* Estilos de página */

* {  
  font-family: 'Roboto', Tahoma, Verdana, sans-serif;
  color: #f7e8d3;
}

body {background-color: #333 !important;}
b {color: #137DC5; font-weight: 400; text-shadow: 2px 2px #333;}

.btn-secondary {

  --bs-btn-bg: #137DC5 !important;
  --bs-btn-border-color: #f7e8d3 !important;
  --bs-btn-hover-bg: #333 !important;
  --bs-btn-hover-border-color: #f7e8d3 !important;
  --bs-btn-focus-shadow-rgb: 130,138,145;
  --bs-btn-active-color: #1f1f1f !important;
  --bs-btn-active-bg: #1f1f1f !important;
  --bs-btn-active-border-color: #f7e8d3 !important;
  --bs-btn-focus-shadow-rgb: 50px 50px 50px #333 !important;
}

.btn-secondary {
  border: 3px solid !important;
}

.btn.btn-secondary.btn-shadow {
  box-shadow: 2px 2px 15px #f7e8d3;
}

.btn-group-lg>.btn, .btn-lg {
  --bs-btn-padding-x: 1.5rem !important;
  --bs-btn-font-size: 1.5rem !important;
  --bs-btn-border-radius: 50px !important;
}

.btn-a {
color: #f7e8d3;
text-decoration: none;
text-shadow: 2px 2px 15px #f7e8d3;
}

/* Estilos de header */

.navbar {background-image: linear-gradient(to top, rgba(51, 51, 51, 0), rgb(0, 0, 0)); opacity: 0.3; transition: opacity 0.5s; }

.navbar:hover {  opacity: 1; }

.navbar-nav {
  --bs-nav-link-color: #f7e8d382 !important;
  --bs-nav-link-hover-color: #f7e8d3 !important;
}
.nav-link:hover { text-shadow: 2px 2px 15px #f7e8d3; }

/* Estilos de footer */

footer {  
  background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0), rgb(0, 0, 0)); opacity: 0.8; 
}

.social-icon {
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.4s ease;
  filter: grayscale(100%);
}

.social-icon:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

.social-icon img {
  width: 54px;
  height: 54px;
}

/* Estilos de index */

.menu-index {padding: 0rem; overflow: auto;}

.bienvenido {
  padding: 6rem 5rem; 
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.bienvenido p {
  font-size: 1.4rem;
  font-weight:
  300;
  margin-bottom: 1rem}

.bienvenido h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem}

.video {margin-left:20px;
  float:right;
}

/* Estilos de Acerca de */

.acerca-de-uno {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  padding-right:2rem}
.acerca-de-uno p {
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2rem}
.img-acerca-de-uno {
  width: 50%;
  float: right;}

.acerca-de-dos {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  }
.acerca-de-dos p {
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2rem}
.img-acerca-de-dos {
  width: 50%;
  float: left;}

.img-acerca-de-dos img {padding-left: 5rem; padding-top: 2rem}
.img-acerca-de-uno img {padding-left: 5rem;}

.btn-proyectos { padding-left:51rem;}

/* Estilos de Proyectos */



.section-proyectos article {
  display: inline-block;
  background-color: #333;
  color:#fff4e0;
  padding: 2rem;
  margin: 0.5rem 3rem 0.5rem 0rem;
  width: 20rem;
  height: 200px;
  transition: transform 0.4s ease;
  Overflow: scroll;
  box-shadow: 10px 10px 10px #707070;
  border-radius: 2%;
  overflow-x: hidden;
}

.section-proyectos article:hover { transform: scale(1.1); }

.section-proyectos article img   { width: 100%; }

.section-proyectos article h3 {
  font-size: 1.5rem; 
  margin-bottom: 1rem;
  color: #fff4e0
}

.section-proyectos article h3 a {
  text-decoration: none;
  color:#fff4e0
}

.descripcion-proyecto {
  font-weight: 100;
  margin-bottom: 3.5rem;}

/* Estilos de Servicios */

.section-servicios {font-size: 1.2rem; font-weight: 300;}
.section-servicios p {margin-bottom: 1rem;}
.section-servicios ul li {margin-left: 6rem; margin-bottom: 2rem}
.servicios-lista ul {display: inline-block; width: 60%; vertical-align: top; padding-top: 5rem;}
.servicios-imagen {display: inline-block;}
.servicios-imagen img {display: block;}

/* Estilos de Contacto */

form label {
  display: block;
  margin-bottom: 1rem;
}

form input, form textarea {
  width: 50%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.form-button {
  font-size: 1.3rem;
  display: block;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff4e0;
  text-decoration: none;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  border: 0rem;
}
.form-button:hover {
  background-color: #137DC5;
}
