@charset "UTF-8";
.background-index {
  background-image: url("../img/backgrounds/mesa-de-trabajo.jpg");
}

.background-acerca-de {
  background-image: url("../img/backgrounds/programacion-futuro-b.jpg");
}

.background-proyectos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/backgrounds/code.jpg");
}

.background-servicios {
  background-image: url("../img/backgrounds/programacion-futuro-a.jpg");
}

.background-contacto {
  background-image: url("../img/backgrounds/dispositivos.jpg");
}

/* Estilos de scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #f7e8d3;
}

::-webkit-scrollbar-thumb {
  background-color: #137DC5;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #0d5483;
}

/* Estilos de página */
* {
  font-family: "Roboto", Tahoma, Verdana, sans-serif;
  color: #f7e8d3;
}

body {
  background-color: #333 !important;
  overflow-x: hidden;
}
body b {
  color: #137DC5;
  font-weight: 400;
  text-shadow: 2px 2px #000000;
}

.btn-secondary {
  --bs-btn-bg: #137DC5 !important;
  --bs-btn-border-color: #f7e8d3 !important;
  --bs-btn-hover-bg: #333 !important;
  --bs-btn-hover-border-color: #f7e8d3 !important;
  --bs-btn-focus-shadow-rgb: 130,138,145;
  --bs-btn-active-color: #1f1f1f !important;
  --bs-btn-active-bg: #1f1f1f !important;
  --bs-btn-active-border-color: #f7e8d3 !important;
  --bs-btn-focus-shadow-rgb: 50px 50px 50px #333 !important;
  border: 3px solid !important;
  box-shadow: 2px 2px 15px #f7e8d3;
}
.btn-secondary .btn-a {
  color: #f7e8d3;
  text-decoration: none;
  text-shadow: 2px 2px 15px #f7e8d3;
}

.btn-group-lg > .btn, .btn-lg {
  --bs-btn-padding-x: 1.5rem !important;
  --bs-btn-font-size: 1.5rem !important;
  --bs-btn-border-radius: 3rem !important;
}

/* Estilos de header */
header .navbar {
  background-image: linear-gradient(to top, rgba(253, 185, 185, 0), rgb(0, 0, 0));
  opacity: 0.3;
  transition: opacity 0.5s;
}
header .navbar:hover {
  opacity: 1;
}
header .navbar-nav {
  --bs-nav-link-color: rgba(247, 232, 211, 0.5098039216) !important;
  --bs-nav-link-hover-color: #f7e8d3 !important;
}
header .navbar-nav .nav-link:hover {
  text-shadow: 2px 2px 15px #f7e8d3;
}

/* Estilos de footer */
footer {
  background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0), rgb(0, 0, 0));
  opacity: 0.8;
}
footer .social-icon {
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.4s ease;
  filter: grayscale(100%);
}
footer .social-icon:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}
footer .social-icon img {
  width: 54px;
  height: 54px;
}

/* Estilos de index */
.background-index {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.index {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

/* Estilos de Acerca de */
.background-acerca-de {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container main section .acerca-de-texto-1 p, .container main section .acerca-de-texto-2 p {
  font-weight: 300;
  text-shadow: 2px 2px #000000;
}
/* Estilos de Proyectos */
.background-proyectos {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.proyectos main section .card .card-body {
  background-color: #f7e8d3;
}
.proyectos main section .card .card-body .card-title, .proyectos main section .card .card-body .card-text {
  color: #333;
  font-size: 2rem;
}
.proyectos main section .card .card-body .card-text {
  font-size: 1.3rem;
}
.proyectos main section .card .card-body .btn-proyectos {
  font-size: 1.5rem;
}
.proyectos main section .carousel-control-next,
.proyectos main section .carousel-control-prev {
  background-color: #137DC5 !important;
  width: 30px !important;
  margin-left: 11px;
  margin-right: 11px;
}

@media (max-width: 576px) {
  .proyectos main section .card .card-body {
    padding-top: 1.5rem !important;
  }
  .proyectos main section .card .card-body .card-title, .proyectos main section .card .card-body .card-text {
    font-size: 1.5rem;
  }
  .proyectos main section .card .card-body .card-text {
    font-size: 0.9rem;
  }
  .proyectos main section .card .card-body .btn-proyectos {
    font-size: 1.1rem;
  }
}
/* Estilos de Servicios */
.background-servicios {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.servicios main section .servicios-texto-1 p, .servicios main section .servicios-texto-2 p {
  font-weight: 300;
  text-shadow: 2px 2px #000000;
}
.servicios main section .card {
  transition: transform 0.4s ease;
}
.servicios main section .card:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 15px #f7e8d3;
}
.servicios main section .card .card-body {
  background-color: #f7e8d3;
}
.servicios main section .card .card-body .card-title, .servicios main section .card .card-body .card-text {
  color: #333;
}
/* Estilos de Contacto */
.background-contacto {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main form .form-control {
  background-color: #f7e8d3 !important;
  color: #333 !important;
}
main form .form-control:focus {
  border-color: #137DC5 !important;
  box-shadow: 2px 2px 15px #137DC5 !important;
}

/*Animaciones Generales*/
.fade-in {
  opacity: 0;
  animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h1 {
  animation: shadowAnimation 5s infinite;
}

@keyframes shadowAnimation {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 2px 2px 15px #f7e8d3;
  }
  100% {
    text-shadow: none;
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.menu-animation {
  animation: slideInLeft 0.5s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
