/* Estilos de Acerca de */

.background-acerca-de {
    background-size: $bg-sz;
    background-attachment: $bg-atch;
    background-repeat: $bg-rpt;
  }

  .container {
    main {
      section{
        .acerca-de-texto-1 {
          p {
            font-weight: $fw-p;
            text-shadow: $shw-bold;
          }
        }
        .acerca-de-texto-2 {
          @extend .acerca-de-texto-1;
        }
      }
    }
  }