/* Estilos de Acerca de */

.background-acerca-de {
    background-image: $bg-about;
    background-size: $bg-sz;
    background-attachment: $bg-atch;
    background-repeat: $bg-rpt;
  }

  .container {
    main {
      section{
        .acerca-de-texto {
          p {
            font-weight: $fw-p;
            text-shadow: $shw-bold;
          }
        }
      }
    }
  }