/* Estilos de Acerca de */

.background-acerca-de {
    background-size: map-get($bg-styles, bg-sz);
    background-attachment: map-get($bg-styles, bg-atch);
    background-repeat: map-get($bg-styles, bg-rpt);
  }
@media (max-width: 576px) {
    .background-acerca-de {
      background-position: map-get($bg-styles, bg-pst);
  }
}

  .container {
    main {
      section{
        .acerca-de-texto-1 {
          p {
            font-weight: $fw-p;
            text-shadow: $shw-bold;
          }
        }
        .acerca-de-texto-2 {
          @extend .acerca-de-texto-1;
        }
      }
    }
  }