/*Animaciones Generales*/

.fade-in {
    opacity: $op0-ani;
    animation: $fadeIn-ani;
  }
  
  @keyframes fadeIn {
    from {
      opacity: $op0-ani;
    }
    to {
      opacity: $op1-ani;
    }
  }
  
  h1 {
    animation: $shw-ani;
  }
  
  @keyframes shadowAnimation {
    0% {
      text-shadow: none;
    }
    50% {
      text-shadow: $shw;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes slideInLeft {
    0% {
      transform: $transX0;
      opacity: $op0-ani;
    }
    100% {
      transform: $transX1;
      opacity: $op1-ani;
    }
  }
  
  .menu-animation {
    animation: $slideL-ani;
  }
  