/* Estilos de Contacto */

.background-contacto {
  background-size: map-get($bg-styles, bg-sz);
  background-position: map-get($bg-styles, $bg-pst);
  background-repeat: map-get($bg-styles, bg-rpt);
}

main {
  form {
    .form-control {
      background-color: $clr-beige !important;
      color: $clr-grey !important;
      &:focus {
        border-color: $clr-blue !important;
        box-shadow: $shw-blue !important;
      }
    }
  }
}  
