/* Estilos de Contacto */

.background-contacto {
    background-image: $bg-contact;
    background-size: $bg-sz;
    background-position: $bg-pst;
    background-repeat: $bg-rpt;
  }
  
main {
  form {
    .form-control {
      background-color: $clr-beige !important;
      color: $clr-grey !important;
      &:focus {
        border-color: $clr-blue !important;
        box-shadow: $shw-blue !important;
      }
    }
  }
}  
