/* Estilos de footer */

footer {  
    background-image: $gradient-bottom;
    opacity: $op-ft; 
  }
  
  .social-icon {
    display: $dplay-i;
    margin-right: $mrg-i;
    transition: $tst;
    filter: $gs1;
    &:hover {
        filter: $gs0;
        transform: $scale10;
    }
    img {
        width: $social-w;
        height: $social-h;
    }
  }
