/* Estilos de footer */

footer {  
    background-image: $gradient-bottom;
    opacity: $op-ft; 
  }
  
  .social-icon {
    display: $social-dplay;
    margin-right: $social-mrg;
    transition: $social-tst;
    filter: $social-gs1;
    &:hover {
        filter: $social-gs0;
        transform: $social-scl;
    }
    img {
        width: $social-w;
        height: $social-h;
    }
  }
