/* Estilos de index */

.index {
    margin-top: $rem10 * 8; 
    margin-bottom: $rem10 * 8;
}

.background-index {
    background-image: $bg-index;
    background-size: $bg-sz;
    background-position: $bg-pst;
    background-repeat: $bg-rpt;
}