/* Estilos de index */

.background-index {
    background-size: map-get($bg-styles, bg-sz);
    background-position: map-get($bg-styles, $bg-pst);
    background-repeat: map-get($bg-styles, bg-rpt);
}

.index {
    margin-top: $mt-index * 8; 
    margin-bottom: $mb-index * 8;
}

