/* Estilos de página */

* {  
  font-family: $fonts;
  color: $clr-beige;
}

body{
        background-color: $clr-grey !important;
        overflow-x: hidden;
        b   {
          color: $clr-blue;
          font-weight: $fw-bold;
          text-shadow: $shw-bold;
        }
}


.btn-mefcode {
  --bs-btn-bg: #{$clr-blue};
  --bs-btn-border-color: #{$clr-beige};
  --bs-btn-hover-bg: #{$clr-grey};
  --bs-btn-hover-border-color: #{$clr-beige};
  --bs-btn-focus-shadow-rgb: 130,138,145;
  --bs-btn-active-color: #{$clr-black};
  --bs-btn-active-bg: #{$clr-black};
  --bs-btn-active-border-color: #{$clr-beige};
  --bs-btn-focus-shadow-rgb: #{$shw-focus};
  border: $btn-brd;
  box-shadow: $shw;
  .btn-a {
    color: $clr-beige;
    text-decoration: $tdn;
    text-shadow: $shw;
    }
}

.btn-group-lg>.btn, .btn-lg {
  --bs-btn-padding-x: #{$btn-pdg} !important;
  --bs-btn-font-size: #{$btn-fnt-sz} !important;
  --bs-btn-border-radius: #{$btn-rd} !important;
}

