/* Estilos de Proyectos */

.background-proyectos {
  background-image: $bg-project;
  background-size: $bg-sz;
  background-repeat: $bg-rpt;
  background-attachment: $bg-atch;
}

.proyectos {
  main {
    section {
        .card {
          .card-body {
            background-color: $clr-beige;
            .card-title {
              color: $clr-grey;
              font-size: $fz-card+0.7;
            }
            .card-text {
              @extend .card-title;
              font-size: $fz-card;
            }
            .btn-proyectos {
              font-size: $btn-fnt-sz;
            }  
          }
        }

        .carousel-control-next,
        .carousel-control-prev {
          background-color: $clr-blue !important;
          width: $ctrl-projects*3 !important;
          margin-left: $ctrl-projects+1;
          margin-right:$ctrl-projects+1;
        }

    }
  }
}


 
@media (max-width: 576px) {

  .proyectos {
    main {
      section {
          .card {
            .card-body {
              padding-top: $fz-card + 0.2 !important;
              .card-title {
                font-size: $fz-card + 0.2;
              }
              .card-text {
                font-size: $fz-card - 0.4;
              }
              .btn-proyectos {
                font-size: $fz-card - 0.2;
              }  
            }
          }
      }
    }
  }
}
  