/* Estilos de Servicios */

.background-servicios {
  background-size: map-get($bg-styles, bg-sz);
  background-attachment: map-get($bg-styles, bg-atch);
  background-repeat: map-get($bg-styles, bg-rpt);
}

.servicios {
  main{
    section {
      .servicios-texto-1 {
        p {
          font-weight: $fw-p;
          text-shadow: $shw-bold;
        }
      }
      .servicios-texto-2 {
        @extend .servicios-texto-1
      }
      .card {
        transition: $tst-s;
        &:hover {
          transform: $card-scl;
          box-shadow: $shw;
        }
        .card-body {
          background-color: $clr-beige;
          .card-title {
            color: $clr-grey;
          }
          .card-text {
            @extend .card-title
          }
        }
      }
    }
  }
}
