/* Estilos de Servicios */

.background-servicios {
  background-size: map-get($bg-styles, bg-sz);
  background-attachment: map-get($bg-styles, bg-atch);
  background-repeat: map-get($bg-styles, bg-rpt);
}

.servicios {
  main{
    section {
      .servicios-texto-1 {
        p {
            @include p($fw-p, $shw-bold, 1rem) //fw y shw los definí en _vars//
        }
      }
      .servicios-texto-2 {
        @extend .servicios-texto-1;
        text-align: $txt-alg;
      }
      .card {
        text-align: $txt-alg;
        background-color: $clr-beige;
        transition: $tst-s;
        &:hover {
          transform: $card-scl;
          box-shadow: $shw;
        }
        .card-body {
          .card-title {
            @include card($clr-grey, $shw-txt)
          }
          .card-text {
            @extend .card-title
          }
        }
        i {
          font-size: $fsz-i;
          @include card($clr-blue, $shw-txt)
        }
      }
    }
  }
}
