/* Estilos de Servicios */

.background-servicios {
  background-image: $bg-services;
  background-size: $bg-sz;
  background-repeat: $bg-rpt;
  background-attachment: $bg-atch;
}

.servicios {
  main{
    section {
      .acerca-de-servicios {
        font-weight: $fw-p;
        text-shadow: $shw-bold;
      }
      .card {
        transition: $tst-s;
        &:hover {
          transform: $card-scl;
          box-shadow: $shw;
        }
        .card-body {
          background-color: $clr-beige;
          .card-title {
            color: $clr-grey;
          }
          .card-text {
            color: $clr-grey;
          }
        }
      }
    }
  }



}
