/* Estilos de index */

.index {
    margin-top: $rem10 * 10; 
    margin-bottom: $rem10 * 12;
}

.background-index {
    background-image: $bg-index;
    background-size: $cover;
    background-position: $center;
    background-repeat: $no-rpt;
}