//page backgrounds//
$bg-index: url('../img/backgrounds/mesa-de-trabajo.jpg');
$bg-about: url('../img/backgrounds/programacion-futuro-b.jpg');
$bg-project: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/backgrounds/code.jpg');
$bg-services: url('../img/backgrounds/programacion-futuro-a.jpg');
$bg-contact: url('../img/backgrounds/dispositivos.jpg');



$backgrounds: (
    index: $bg-index,
    acerca-de: $bg-about,
    proyectos: $bg-project,
    servicios: $bg-services,
    contacto: $bg-contact,
);

@each $page, $bg in $backgrounds {
    .background-#{$page} {
        background-image: $bg;
    }
}

$bg-styles: (
    bg-sz: cover,
    bg-atch: fixed,
    bg-rpt: no-repeat,
    bg-pst: center
);