//colors//
$clr-blue: #137DC5;
$clr-blue-h: #0d5483;
$clr-beige: #f7e8d3;
$clr-grey: #333;
$clr-grey2: #f7e8d382;
$clr-grey3: #959595;
$clr-black: #1f1f1f;

//page fonts//
$fonts: 'Roboto', Tahoma, Verdana, sans-serif;

//gradients header and footer//
$gradient-top: linear-gradient(to top, rgba(253, 185, 185, 0), rgb(0, 0, 0));
$gradient-bottom: linear-gradient(to bottom, rgba(51, 51, 51, 0), rgb(0, 0, 0));

//shadows//
$shw: 2px 2px 15px $clr-beige;
$shw-blue: 2px 2px 15px $clr-blue;
$shw-focus: 50px 50px 50px $clr-grey;
$shw-bold: 2px 2px #000000;
$shw-txt: 1px 1px $clr-grey3;

//opacity//
$op0-ani: 0; //opacity animaciones//
$op1-ani: 1;
$op-ft: 0.8; //opacity footer//
$op-hdr0: 0.3; // opacity header//
$op-hdr1: 1;
$op-hdr-tst: opacity 0.5s;

//page animations//
$fadeIn-ani: fadeIn 3s forwards;
$shw-ani: shadowAnimation 5s infinite;
$slideL-ani: slideInLeft 0.5s ease-in-out;
$transX0: translateX(100%);
$transX1: translateX(0);
$card-scl: scale(1.05);
$tst-s: transform 0.4s ease;

//social icon footer//
$social-dplay: inline-block;
$social-mrg: 10px;
$social-tst: transform 0.4s ease;
$social-gs1: grayscale(100%);
$social-gs0: grayscale(0%);
$social-scl: scale(1.1);
$social-w: 54px;
$social-h: 54px;

//margin//
$mt-index: 1rem; //margin top index //
$mb-index: 1rem; //margin bottom index //
$ctrl-projects: 10px; //margen proyectos //

//text//
$fw-body: 400;
$fw-bold: 400;
$fw-p: 300;
$tdn: none; // text decoration //
$txt-alg: center; //text align //
$fsz-card: 1.3rem; //font size card //
$fsz-i: 2rem; //font size icon //

//bottom//
$btn-pdg: 1.5rem;
$btn-fnt-sz: 1.5rem;
$btn-rd: 3rem;
$btn-brd: 3px solid;

//scrollbar//
$sb-w: 0.5rem;


