$clr-blue: #137DC5;
$clr-blue-h: #0d5483;
$clr-beige: #f7e8d3;
$clr-grey: #333;
$clr-grey2: #f7e8d382;
$clr-black: #1f1f1f;

$rem05: 0.5rem;
$rem1: 1rem;
$rem15: 1.5rem;
$px50: 50px;

$fw4: 400;
$txt-s: 2px 2px #333;
$fonts: 'Roboto', Tahoma, Verdana, sans-serif;
$bdr-btn: 3px solid;
$shw-btn: 2px 2px 15px #f7e8d3;
$shw-btn-focus: 50px 50px 50px #333;
$tdn: none;

$gradient: linear-gradient(to top, rgba(253, 185, 185, 0), rgb(0, 0, 0));
$op03: 0.3;
$op1: 1;
$op-tst: opacity 0.5s;