//colors//
$clr-blue: #137DC5;
$clr-blue-h: #0d5483;
$clr-beige: #f7e8d3;
$clr-grey: #333;
$clr-grey2: #f7e8d382;
$clr-black: #1f1f1f;

//page fonts//
$fonts: 'Roboto', Tahoma, Verdana, sans-serif;

//gradients header and footer//
$gradient-top: linear-gradient(to top, rgba(253, 185, 185, 0), rgb(0, 0, 0));
$gradient-bottom: linear-gradient(to bottom, rgba(51, 51, 51, 0), rgb(0, 0, 0));

//shadows//
$shw: 2px 2px 15px #f7e8d3;
$shw-blue: 2px 2px 15px #137DC5;
$shw-focus: 50px 50px 50px #333;

//opacity//
$op0-ani: 0; //opacity animaciones//
$op1-ani: 1;
$op-ft: 0.8; //opacity footer//
$op-hdr0: 0.3; // opacity header//
$op-hdr1: 1;
$op-hdr-tst: opacity 0.5s;

//page backgrounds//
$bg-index: url('../img/backgrounds/mesa-de-trabajo.jpg');
$bg-about: url('../img/backgrounds/programacion-futuro-b.jpg');
$bg-project: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/backgrounds/code.jpg');
$bg-services: url('../img/backgrounds/programacion-futuro-a.jpg');
$bg-contact: url('../img/backgrounds/dispositivos.jpg');
$bg-sz: cover;
$bg-pst: center;
$bg-rpt: no-repeat;
$bg-atch: fixed;

//page animations//
$fadeIn-ani: fadeIn 3s forwards;
$shw-ani: shadowAnimation 5s infinite;
$slideL-ani: slideInLeft 0.5s ease-in-out;
$transX0: translateX(100%);
$transX1: translateX(0);

//social icon footer//
$dplay-i: inline-block;
$mrg-i: 10px;
$tst: transform 0.4s ease;
$gs1: grayscale(100%);
$gs0: grayscale(0%);
$scale10: scale(1.1);
$social-w: 54px;
$social-h: 54px;



$mt-index: 1rem; //margin top index //
$mb-index: 1rem; //margin bottom index //
$mrg-projects: 10px; //margen proyectos //









//miscelaneous//
$bdr-btn: 3px solid;
$tdn: none;
$scale05: scale(1.05);
$op00: 0;
$op08: 0.8;

//sizes rem//
$rem05: 0.5rem;
$rem08: 0.8rem;
$rem10: 1rem;
$rem13: 1.3rem;
$rem15: 1.5rem;
//sizes px//
$px50: 50px;

//text//
$fw4: 400;
$txt-s: 2px 2px #333;